.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    width: 30em;
    height: 30em;
    line-height: 0;
}

#canvas > div, #palette > div {
    border: 1px solid gray;
    display: inline-block;
    box-sizing: border-box;
}

#indicator {
    border: 1px solid gray;
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
}
